{% macro GiftBoxActions(
  activeInfoText = _('Gift Pack Added'),
  activeInfoIcon = 'pz-icon-giftbox',
  addPackageTriggerText = _('Add Gift Pack'),
  addPackageTriggerIcon = 'pz-icon-giftbox',
  addNoteTriggerText = _('Add Note'),
  editNoteTriggerText = _('Change Note'),
  removePackageTriggerText = _('Remove Gift Pack')
) %}
  <div class="basket-item__gift-box-actions js-basket-item-product-gift-box-actions" hidden>
    <span class="basket-item__gift-box-active-info js-basket-item-product-gift-box-active-info" hidden>
      {% if activeInfoIcon %}
        <i class="basket-item__gift-box-active-info-icon {{ activeInfoIcon }}"></i>
      {% endif %}

      <span class="basket-item__gift-box-active-info-text">
        {{ activeInfoText }}
      </span>
    </span>

    <span class="basket-item__gift-box-action js-basket-item-product-gift-box-add-trigger" hidden>
      {% if addPackageTriggerIcon %}
        <i class="basket-item__gift-box-action-icon {{ addPackageTriggerIcon }}"></i>
      {% endif %}

      <span class="basket-item__gift-box-action-text">
        {{ addPackageTriggerText }}
      </span>
    </span>

    <span class="basket-item__gift-box-action js-basket-item-product-gift-box-note-add-trigger" hidden>
      <span class="basket-item__gift-box-action-text">
        {{ addNoteTriggerText }}
      </span>
    </span>

    <span class="basket-item__gift-box-action js-basket-item-product-gift-box-note-edit-trigger" hidden>
      <span class="basket-item__gift-box-action-text">
        {{ editNoteTriggerText }}
      </span>
    </span>

    <span class="basket-item__gift-box-action js-basket-item-product-gift-box-remove-trigger" hidden>
      <span class="basket-item__gift-box-action-text">
        {{ removePackageTriggerText }}
      </span>
    </span>
  </div>
{% endmacro %}

{% macro GiftBoxContent(
  formTitle = _('Add Gift Note'),
  closeFormTriggerText = _('Close'),
  noteMinLength = 0,
  noteMaxLength = 160,
  notePlaceholder = _('You can leave this area empty. However it will be a gift package without note.'),
  characterCounterMessage = _('characters left'),
  removeNoteTriggerText = _('Remove Note'),
  submitFormTriggerText = _('SAVE')
) %}
  <div class="basket-item__gift-box-content js-basket-item-product-gift-box-content" hidden>
    <pz-form
      class="basket-item__gift-box-form js-basket-item-product-gift-box-form"
      service="Basket"
      action="setGiftNote">
      <div class="basket-item__gift-box-form-header">
        <span class="basket-item__gift-box-form-title">
          {{ formTitle }}
        </span>

        <span class="basket-item__gift-box-form-header-action js-basket-item-product-gift-box-form-close-trigger">
          {{ closeFormTriggerText }}
        </span>
      </div>

      <pz-textarea
        class="basket-item__gift-box-note js-basket-item-product-gift-box-note"
        name="gift_note"
        {{ 'v-minlength={}'.format(noteMinLength) if noteMinLength }}
        {{ 'v-maxlength={}'.format(noteMaxLength) if noteMaxLength }}
        placeholder="{{ notePlaceholder }}";
        w-full>
      </pz-textarea>

      <div class="basket-item__gift-box-form-footer">
        <span class="basket-item__gift-box-counter js-basket-item-product-gift-box-counter">
          {% autoescape false %}
            {% set current = '<span class="js-basket-item-product-gift-box-counter-current"></span>' %}
            {% set max = '<span class="js-basket-item-product-gift-box-counter-max"></span>' %}
            {{ '{current}/{max} {msg}'.format(current=current, max=max, msg=characterCounterMessage) }}
          {% endautoescape %}
        </span>

        <div class="basket-item__gift-box-controls">
          <span class="basket-item__gift-box-cancel js-basket-item-product-gift-box-note-remove-trigger" hidden>
            {{ removeNoteTriggerText }}
          </span>

          <pz-button
            class="basket-item__gift-box-submit js-basket-item-product-gift-box-submit"
            type="submit"
            size="xs"
            appearance="outlined">
              {{ submitFormTriggerText }}
          </pz-button>
        </div>
      </div>
    </pz-form>
  </div>
{% endmacro %}