[disabled-action] {
  @apply opacity-50 pointer-events-none;
}

.basket-item__gift-box {
  &-content {
    @apply w-full mt-4;
  }

  &-form {
    @apply w-full;
    @apply xs:ml-28 xs:w-96;

    &-header {
      @apply w-full flex items-center justify-between mb-2;

      &-action {
        @apply text-xs text-black-800 leading-none cursor-pointer select-none underline transition-all;
        @apply hover:text-secondary;
      }
    }

    &-title {
      @apply text-black-800 text-xs font-semibold;
    }

    &-footer {
      @apply flex flex-row justify-between items-start mt-2;
      @apply xs:mt-4 xs:items-center;
    }
  }

  &-note {
    textarea {
      @apply text-xs p-3 h-20 resize-none;

      &::placeholder {
        @apply leading-tight #{!important};
      }
    }
  }

  &-counter {
    @apply leading-none text-xs transition-all;

    &.-valid-count {
      @apply text-waterGreen-200;
    }

    &.-invalid-count {
      @apply text-secondary;
    }
  }

  &-controls {
    @apply flex flex-col items-end space-y-3;
    @apply xs:flex-row xs:items-center xs:space-x-3 xs:space-y-0;
  }

  &-cancel {
    @apply text-xs text-black-800 underline leading-none cursor-pointer transition-all;
    @apply hover:text-secondary;
  }
}
