{% macro GiftNoteContent(
  formTitle = _('Gift Note'),
  noteMinLength = 0,
  noteMaxLength = 160,
  notePlaceholder = _('You can leave this area empty.'),
  characterCounterMessage = _('characters left'),
  removeNoteTriggerText = _('Remove Note'),
  submitFormTriggerText = _('SAVE')
) %}
  <div class="basket-item__gift-box-content">
    <pz-form
      class="basket-item__gift-box-form js-basket-item-product-gift-box-form"
      service="Basket"
      action="setGiftNote">
      <div class="basket-item__gift-box-form-header">
        <span class="basket-item__gift-box-form-title">
          {{ formTitle }}
        </span>
      </div>

      <pz-textarea
        class="basket-item__gift-box-note js-basket-item-product-gift-box-note"
        name="gift_note"
        {{ 'v-minlength={}'.format(noteMinLength) if noteMinLength }}
        {{ 'v-maxlength={}'.format(noteMaxLength) if noteMaxLength }}
        placeholder="{{ notePlaceholder }}";
        w-full>
      </pz-textarea>

      <div class="basket-item__gift-box-form-footer">
        <span class="basket-item__gift-box-counter js-basket-item-product-gift-box-counter">
          {% autoescape false %}
            {% set current = '<span class="js-basket-item-product-gift-box-counter-current"></span>' %}
            {% set max = '<span class="js-basket-item-product-gift-box-counter-max"></span>' %}
            {{ '{current}/{max} {msg}'.format(current=current, max=max, msg=characterCounterMessage) }}
          {% endautoescape %}
        </span>

        <div class="basket-item__gift-box-controls">
          <span class="basket-item__gift-box-cancel js-basket-item-product-gift-box-note-remove-trigger" hidden>
            {{ removeNoteTriggerText }}
          </span>

          <pz-button
            class="basket-item__gift-box-submit js-basket-item-product-gift-box-submit"
            type="submit"
            size="xs"
            appearance="outlined">
              {{ submitFormTriggerText }}
          </pz-button>
        </div>
      </div>
    </pz-form>
  </div>
{% endmacro %}